<%#= javascript_include_tag('eventbrite_for_home.js') %>
<div class='home_slide' id='slide1' data-slide='1' data-stellar-background-ratio='0.5'>
    <div id='page_top'></div>
  <div class="container">
    <div class="col-md-6 transparency center">
        
      <h2> 
         Introducing the power brunch</h2>
         <h3 text-align="left">
         We are young, successful and hungry for the next opportunity. And so are you. 
         <br> <br> You shouldn't have to settle for a job you don't love. 
         It should be easy to explore your options, and build skills and connections. As easy as going to brunch with friends.
				<br>
         <br>Are you ready?
      </h3> 
          <%= form_for(@email) do |f| %>
          <%= render 'shared/error_messages' %>
          <%= f.text_field :email, :placeholder => "Enter your email" %> 
          <div class="center_text"><%= f.submit "Join", class: "btn btn-large btn-warning center"%> </div>
          <% end %>
    </div>
  </div>
</div>
<div id="slide2" data-slide='2' data-stellar-background-ratio='0.5'>
		<!----start-feartures----->
		<div id="fea" class="features">
		    <h1>How It Works</h1>
			<div class="container">
				<!---- start-features-grids---->
				<div class="features-grids text-center">
				    <div class="col-md-1 features-grid">
				        </div>
					<div class="col-md-2 features-grid">
						<span class="fea-icon1" id="handshake"> </span>
						<h3>Join our community</a></h3>
					</div>
					<div class="col-md-2 features-grid">
						<span class="fea-icon1" id="email"> </span>
						<h3>Receive invites for brunch</h3>
					</div>
					<div class="col-md-2 features-grid">
						<span class="fea-icon1" id="laptop"></span>
						<h3>Catch-up on presentations you missed online</h3>
					</div>
					<div class="col-md-2 features-grid">
						<span class="fea-icon1" id="users"></span>
						<h3>Browse member profiles and reach out</h3>
					</div>
					<div class="col-md-2 features-grid">
						<span class="fea-icon1" id="glasses"></span>
						<h3>Attend as many events as you like</h3>
					</div>
					<div class="col-md-1 features-grid">
				        </div>
					
				</div>
				<!---- //End-features-grids---->
			</div>
		</div>
		<!----//End-feartures----->
    <!--<div class="container">
      <div class="col-md-8 center transparency_events">
          <h2> Upcoming Events</h2>
             <h3>
               <ul>
                 <li>brunch<font color='#808080'><italic>story</italic></font>: listen or join panels profiling careers: conventional and off the beaten path</li>
                 <br>
                 <li>brunch<font color='#808080'><italic>start</italic></font>: hear from successful entrepreneurs on how they got their businesses off the ground</li>
                 <br>
                 <li>brunch<font color='#808080'><italic>skill</italic></font>: work on your professional skills with the pros</li>
                 <br>
                 <li>brunch<font color='#808080'><italic>vest</italic></font>: where should you be investing? get expert advice</li>
                 <br>
                 <li>brunch<font color='#808080'><italic>life</italic></font>: tips & tricks that run the gamut: personal finance, art & wine</li>
               </ul>
             </h3>
          </div>
    </div>-->
    
		
</div>

<div class='home_slide' id='slide3' data-slide='3'>
  <div class="container">
    <div class="col-md-8 center transparency_slide3">

      <!--<h1> About Us</h1>
         <h3>
        <p>You will spend 90,000 hours at work in your lifetime. You shouldn't have to settle for a job you don't love. 
          It should be easy to explore your options, and build skills and connections. As easy as going to brunch with friends.
        <br>
        <br>We are young, successful and hungry for the next opportunity. And so are you. Our community is calling your name.  
        <br>
        <br>Are you ready for brunch?
        </p>
      </h3> -->
        <section class="flex-container">

					  <h1>Notable Speakers</h1>
						<div class="flexslider">
							<ul class="slides" id="rotating_event">
								<li>
									<div class="flex-twitter-icon"></div>
									<h2 class="twitter-post-username">
									<a href="#">AOS New York @aod</a> <span>/ 35 min</span>
									</h2>
									<p class="twitter-post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, dictum turpis vitae, pretium ante amet.</p>
								</li>
								<li>
									<div class="flex-twitter-icon"></div>
									<h2 class="twitter-post-username">
									<a href="#">AOS New York @aod</a> <span>/ 35 min</span>
									</h2>
									<p class="twitter-post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. </p>
								</li>
								<li>
									<div class="flex-twitter-icon"></div>
									<h2 class="twitter-post-username">
									<a href="#">AOS New York @aod</a> <span>/ 35 min</span>
									</h2>
									<p class="twitter-post">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor.</p>
								</li>
							</ul>

			</div>
		</section>

    </div>
  </div>
  
      
</div>


