
<div class='home_slide' id='slide1' data-stellar-background-ratio='0.5'>
    <div id='page_top'></div>
  <div class="container">
    <div class="col-md-6 transparency center">
        
      <h2> 
         Introducing the power brunch</h2>
         <h3 text-align="left">
         We are young, successful and hungry for the next opportunity.

      </h3> 
          <%#= form_for(@email) do |f| %>
          <%#= render 'shared/error_messages' %>
          <%#= f.text_field :email, :placeholder => "Enter your email for an invite code" %> 
          <% if !signed_in?%>
          	<div class="center_text"><%= link_to "Sign up", signup_path, class: "btn btn-large btn-warning center"%> </div>
          	<br>
          <% else %>
          	<h3>Welcome back, <%= current_user.name %></h3>
          <% end %>
          <%# end %>
          
          <div class="center_text"><%= link_to "Check out our next event", "http://www.eventbrite.com/o/brunchwork-7806405987?s=32643048", :target => '_blank' %></div>
    </div>
  </div>
</div>
<div id="slide2" data-stellar-background-ratio='0.5'>
		<!----start-feartures----->
		<div id="fea" class="features">
		    <h1>How It Works</h1>
			<div class="container">
				<!---- start-features-grids---->
				<div class="features-grids text-center">
				    <div class="col-md-1 features-grid">
				        </div>
					<div class="col-md-2 features-grid">
						<span class="fea-icon1" id="handshake"> </span>
						<h3>Join our community</a></h3>
					</div>
					<div class="col-md-2 features-grid">
						<span class="fea-icon1" id="email"> </span>
						<h3>Receive invites for brunch</h3>
					</div>
					<div class="col-md-2 features-grid">
						<span class="fea-icon1" id="laptop"></span>
						<h3>Catch-up on presentations you missed online</h3>
					</div>
					<div class="col-md-2 features-grid">
						<span class="fea-icon1" id="users"></span>
						<h3>Browse member profiles and reach out</h3>
					</div>
					<div class="col-md-2 features-grid">
						<span class="fea-icon1" id="glasses"></span>
						<h3>Attend as many events as you like</h3>
					</div>
					<div class="col-md-1 features-grid">
				        </div>
					
				</div>
				<!---- //End-features-grids---->
			</div>
		</div>
		<!----//End-feartures----->
</div>

<div class='home_slide' id='slide3' >
  <div class="container">
    <div class="col-md-8 center transparency_slide3">
			<h1> About Us</h1>
			<h3>
			<p>We are young, successful and hungry for the next opportunity. And so are you.</p>

<p>You shouldn't have to settle for a job you don't love. It should be easy to explore your options, and build skills and connections. As easy as going to brunch with friends. </p>
<p>
Are you ready?
</p></h3>
      
    </div>
  </div>
</div>


