<% if !@user.resume_url.nil? && !@user.resume_url.empty? %>
     <!-- If viewing own profile or resume not set to private, show resume -->
	 <% if current_user?(@user) || !@user.private_resume?  %>
		 	<iframe src="https://docs.google.com/gview?url=<%= request.host_with_port + @user.resume_url.to_s %>&embedded=true" 
		 	      style="width:250px; height:315px" frameborder="0"></iframe>
	 <% end %>
	 <% if current_user?(@user) %>
	 <br>
	    <div style="text-align:center;">
      <% if @user.private_resume?  %>                 
				<%= link_to "Make Resume Public", private_resume_user_path(@user), :class => "btn btn-large btn-primary",
               :method => :put, :remote => true,
                data: { confirm: "This will show your resume from all brunchwork users. Confirm?" } %>
       <% else %>
          <%= link_to "Make Resume Private", private_resume_user_path(@user), :class => "btn btn-large btn-primary",
               :method => :put, :remote => true,
               data: { confirm: "This will hide your resume from all brunchwork users. Confirm?" } %>
       <% end %>
       </div>
   <% end %>
 <% end %>