<% provide(:title, @user.name) %>
<div class="container">
  <div class="transparency">
		<h2>
			<%= @user.name %>
		</h2>
		<div id="user_info" >
		  <%= render "userprofile" %>
		</div>
  </div>
</div>