<% provide(:title, 'All users') %>
<%= javascript_include_tag('eventbrite_user_owned_events_live.js') %>
<div class="events">
  <div class="container" >
    <div class="event_box">
        
      <div id="poop">
      </div>
      
      <div id="crap">
        <div class="center_text">
          <button type="button" class="btn btn-lg btn-block">Older Events</button>
        </div>
      </div>
      
    </div>
    <br>
  </div>
</div>

