
<p><%= simple_format(@content) %> </p>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            
            <%= render 'my_mailer/footer' %>

        </td>
    </tr>
</table>