<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            
<h1>Welcome to <font color="#FFA500">brunch</font><font color="#808080">work</font>!</h1>

<p>Thank you for joining! We hope to see you at a brunch in 2015!</p>

        </td>
    </tr>
</table>