@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$grayLighter: #eaeaea;
$grayDarker: #eaeaea;
$gray: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
 // overflow-y: scroll;
  height: 100%;
}

.full_width{
  width: 100%;
  //margin-left: 10px;
  //margin-right: 10px;
}

.side_margins{
  margin-left: 10px;
  margin-right: 10px;
}

.transparency  {  
    background-color:rgba(255,255,255,0.7);
    h1, h2 {
      color: black;
      font-size: 2em;
      font-family: "Gulim";
      margin-bottom: 5px;
      letter-spacing: -2px;
      text-align: center;
    }
    width: 400px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    h3{
        font-size: 1.4em;
        font-family: "Gulim";
        margin-bottom: 30px;
        //letter-spacing: -2px;
        text-align: center;
      }
}  

.transparency h2{
    color: black;
    font-size: 2em;
    font-family: "Gulim";
    margin-bottom: 5px;
    letter-spacing: -2px;
    text-align: center;
    font-weight: bold;
}

.transparency h3{
    font-size: 1.4em;
    font-family: "Gulim";
    margin-bottom: 30px;
    //letter-spacing: -2px;
    text-align: center;
    font-weight: bold;
}

.transparency_slide3  {  
    background-color:rgba(255,255,255,0.4);
    h1, h2 {
      color: black;
    }
   // width: 700px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 60px;
    //z-index: -900;
    margin-bottom: 60px;
}

.transparency_slide3 h3{
  line-height: 50%;
  font-weight: bold;
  font-size: 1em;
} 
.transparency_events  {  
    background-color:rgba(194,163, 102,0.3);
    h1, h2 {
      color: #808080;
    }
    //width: 700px;
    //margin: auto;
    top: 50%;
    padding-left: 0px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin: auto;
    z-index: 10;
    margin-top: 10px;
    margin-bottom: 50px;
    ul{
      list-style-type: none;
    }
    italic{
      font-style: italic;
    }
}

.transparency_events h3{
  line-height: 100%;
  font-size: 1.5em;
  color: #FFA500;
  text-align: left;
  font-weight: bold;
} 
body {
  //padding-top: 60px;
  height: 100%;
}

section {
  //overflow: auto;
}

textarea {
  resize: vertical;
}

.center_text {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.center {
   margin-left: 0 auto !important;
   margin-right: 0 auto !important;
   float: none !important;
   //margin-top: 20px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

.how_it_works h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-top: 100px;
  margin-bottom: 5px;
  text-align: center;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-top: 30px;
  margin-bottom: 5px;
  text-align: center;
}

h2 {
  font-size: 2em;
  font-family: "Gulim";
  margin-bottom: 5px;
  letter-spacing: -2px;
  text-align: center;
}

h3{
  font-size: 1.4em;
  font-family: "Gulim";
  margin-bottom: 30px;
  //letter-spacing: -2px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  font-family: 'Gulim';
  //margin-right: 10px;
  font-size: 2em;
  //font-style: bold;
  text-transform: lowercase;
  letter-spacing: -1px;
  padding-top: 9px;
  line-height: 1;
  &:hover {
    text-decoration: none;
  }
}

/* footer */

footer {
 // margin-top: 45px;
  padding-top: 20px;
  padding-bottom: 20px;
  //border-top: 1px solid $grayMediumLight;
  background-color: #FFA500;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

/*.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}*/

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}


input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
    background-color:rgba(255,255,255,1);
  }
}

/*.field_with_errors {
  @extend .control-group;
  @extend .error;
}*/

/* emails index */

.emails {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}


.circle_left{
  /*width:180px;
  height:180px;
  border-radius:90px;*/
  width:375px;
  background-image: url(real_br_egg.jpg);
  height:245px;
  color:#fff;
  background-size: contain;
  background-repeat: no-repeat;
  font-size:13px;
  color:#fff;
  line-height:250px;
  text-align:center;
  //background-color:rgba(255,165,0,1);
  display: inline-block;
  display: table;
  //box-sizing: border-box;
  //margin: 40px;
  //margin-left: 100px;
  //margin-right: 100px;
  float: middle;
    *display: inline;
}

.circle_left p {
    display: table-cell;
    //line-height: 250px;
    vertical-align: middle;
    font-family: 'Gulim';
     padding:100px;
    padding-right:125px;
}
.circle2{
  /*width:180px;
  height:180px;
  border-radius:90px;*/
  width:375px;
  background-image: url(real_br_egg.jpg);
  height:245px;
  color:#fff;
  background-size: contain;
  background-repeat: no-repeat;
  font-size:13px;
  color:#fff;
  line-height:250px;
  text-align:center;
  //background-color:rgba(255,165,0,1);
  display: inline-block;
  display: table;
  //box-sizing: border-box;
  margin-top: 75px;
  //margin-bottom: 30px;
  margin-left: 60px;
  float: middle;
    *display: inline;
}

.circle2 p {
    display: table-cell;
    //line-height: 250px;
    vertical-align: middle;
    font-family: 'Gulim';
     padding:100px;
    padding-right:110px;
    font-style: 'bold';
}

.circle4{
  /*width:180px;
  height:180px;
  border-radius:90px;*/
  width:375px;
  background-image: url(real_br_egg.jpg);
  height:245px;
  color:#fff;
  background-size: contain;
  background-repeat: no-repeat;
  font-size:13px;
  color:#fff;
  line-height:250px;
  text-align:center;
  //background-color:rgba(255,165,0,1);
  display: inline-block;
  display: table;
  //box-sizing: border-box;
  margin-top: 300px;
  //margin-bottom: 30px;
  margin-left: 60px;
  z-index: -999;
  float: middle;
    *display: inline;
}

.circle4 p {
    display: table-cell;
    //line-height: 250px;
    vertical-align: middle;
    font-family: 'Gulim';
     padding:100px;
    padding-right:110px;
    font-style: 'bold';
    z-index: -999;
}

.circle_egg{
  width:375px;
  background-image: url(real_br_egg.jpg);
  height:245px;
  color:#fff;
  background-size: contain;
  background-repeat: no-repeat;
  //border-radius:90px;
  font-size:13px;
  //color:#fff;
  line-height:250px;
  text-align:center;
 // background-color:rgba(255,165,0,1);
  display: inline-block;
  display: table;
  //box-sizing: border-box;
  margin: 40px;
  margin-left: 0px;
  float: middle;
    *display: inline;
}

.circle_egg p {
    display: table-cell;
    padding:100px;
    padding-right:105px;
    //line-height: 250px;
    vertical-align: middle;
    font-family: 'Gulim';
}


#how-it-works{
  /*padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;*/
  //min-width: 1400px;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;

}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.compose_email_field{
  width: 500px;
  height: 500px;
}

.slide{
  background-attachment: fixed;
  width: 100%;
  //min-width: 1700px;
  height: 100%;
  position: relative;
  //padding: 1px;
  background-repeat: no-repeat;
}

#slide1{
  background-image: url(slide1/raspberry.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  //min-width: 1700px;
  //z-index: 9;
  //padding-bottom: 150px;
}

#slide2{
  //background-image: url(slide2/first_white_bg_with_text.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  //width: 100%;
  //min-width: 1700px;
  //z-index: 8;
}

#slide3{
  background-image: url(slide3/unsplash-bonus-crop.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  //min-width: 1700px;
  min-height: 100%;
}

#slide4{
  background-image: url(slide1/raspberry.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#mimosa{
  z-index: 10;
  width: 100%;
  height: 100%;
  margin-top: 200px;
}

#bottom_name{
  color: white;
  font-family: 'Gulim';
  text-align: center;
  font-size: 2.5em;
  font-style: bold;
  line-height: 100%;
}

.compose_email{
  margin: 30px;
}

/* From template styles */
/*------start-features-----*/
.features{
	padding:5em 0;
}
.head h3{
	color:#394346;
	font-size:2em;
	font-family: 'Gulim';
	font-weight: bold;
	margin: 0 0 0.5em 0;
}
.head p{
	color: #8E999C;
	margin: 0 auto;
	width: 64%;
	font-size: 1em;
	line-height: 1.5em;
}
.head h3 span{
	width:12px;
	height:20px;
	display:inline-block;
//	background:url(../images/arrow-icon.png)no-repeat 0px 0px;
}
.features-grid span{
	height:140px;
	width:140px;
	display:inline-block;
	background:#F3F3F3;
	border:10px solid #FFA500;
	border-radius:30em;
	-webkit-border-radius:30em;
	-moz-border-radius:30em;
	-o-border-radius:30em;
	-ms-border-radius:30em;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.features-grid span i{
	font-size: 3em;
	color: #FD3B01;
	margin-top: 0.8em;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
} 
.features-grid h3 a{
	color: #8E999C;
	font-size: 1.1em;
	font-weight: 600;
}
.features-grid h3 a:hover{
	text-decoration:none;
	color:#8E999C;
}
.features-grid p{
	color: #8E999C;
	font-size: 1em;
	line-height: 1.5em;
}
.features-grid:hover span{
	background:#ffd27f;
	//border-color:#FFDCD1;
}
.features-grid:hover i{
	color: #FFF;
}
.features-grids{
	padding: 4em 0 0em;
}

#email {
    background-image: url(mail_2.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position:center;
    z-index: 10;
}

#handshake {
    background-image: url(join.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position:center;
    z-index: 10;
}

#laptop {
    padding: 10px;
    background-image: url(laptop-2.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position:center;
    z-index: 10;
}

#users {
    background-image: url(users.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position:center;
    z-index: 10;
}

#glasses {
    background-image: url(glasses.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position:center;
    z-index: 10;
}