<footer class="footer full_width">
  <div id="bottom_name">Coming in 2015! <br> Contact us at <a href="mailto:brunchworkfounders@gmail.com?" target="_top">brunchworkfounders@gmail.com</a></div>
  <!--<nav class="side_margins"> -->

  <!--</nav>-->
</footer>