<header class="navbar navbar-fixed-top navbar-default">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to  root_path, id: "logo" do %>
        <font color="#FFA500">Brunch</font><font color="black">Work</font>
      <% end %>
      <nav>
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to "Home",   root_path %></li>
          <li><%= link_to "Help",   help_path %></li>
         <!-- <li><%= link_to "Log in", '#' %></li> -->
        </ul>
      </nav>
    </div>
  </div>
</header>